.wd-account-name {
    font-weight: bold;
    margin-bottom: 0px;


}
.wd-account-summary {
    font-weight: bold;
    margin-bottom: 0px;


}

.wd-topic-time-num-tweets {

    color: rgb(110, 118, 125);
    margin-bottom: 0px;
    font-weight: normal;
}

.list-group .list-group-item {
    border-width: 2px;
    background: black;
    color: white;
}

.wd-text-over-img {
    z-index:1;
    margin-top: -44pt;
    margin-left: 12pt;
    color: white;
}

/*Overrides*/

.container{
    background: black;
    color: white;
}


.col-xxl-6.col-xl-6.col-lg-7.col-10.p-0 {
    border-style: solid;
    border-width: 1px;
    border-color: #212529;
}

.form-control {
    background-color: #ffffff03 !important;
    border-width: 0px!important;
}

.input-group {
    background-color: #2c3034;
}

.fa-search {
    color: #5c636a;
}

.nav-link.active {
    background-color: black !important;
    border-width: 0px !important;
    color: white !important;
}

.nav-link {
    color: #5c636a !important;
}

.col-xxl-4.col-xl-4.col-lg-4.p-3.d-lg-block.d-none > div{
    background-color: #212529;
}

.nav.nav-tabs {
    border-width: 0px;
}

.nav.nav-tabs  a {
    font-weight: bold;
}
.nav-item.active {
    border-width: 0px;

    border-bottom-width: 5px;
    border-color: #0D6EFD;
    border-style: solid;
}

.follow.btn.btn-primary.rounded-pill.w-100.h-auto {
    background-color: white;
    color: black;
    border-width: 0px;
}

.btn.btn-primary.rounded-pill.w-100.h-auto {
    font-weight: bold;
}

.fa.fa-cog.fa-2x {
    color: white;
}